{
  "presets": [
    "env"
  ],
  "env": {
    "es-next": {
      "presets": [
        [
          "env",
          {
            "modules": false
          }
        ]
      ]
    },
    "es5": {
      "presets": [
        "env"
      ]
    }
  }
}
